<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.RoleMapper">

    <resultMap id="roleMap" type="role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="permissionList" ofType="com.ye.pojo.Permission">
            <id property="id" column="id"/>
            <result property="permName" column="perm_name"/>
        </collection>
    </resultMap>
    <!--根据名字找到角色-->
    <select id="findRoleByName" parameterType="string" resultMap="roleMap">
      SELECT * from sys_role  WHERE  role_name=#{roleName}
    </select>
    <!--根据id查找到角色-->
    <select id="findRoleById" parameterType="int" resultMap="roleMap">
        SELECT  * from sys_role where id=#{id} and del_flag != 0
    </select>
    <!--查找所有的-->
    <select id="findAll" resultMap="roleMap">
        SELECT * from sys_role WHERE del_flag !=0
    </select>

    <!--增加角色-->
    <insert id="addRole" parameterType="role" useGeneratedKeys="true" keyProperty="id">
        INSERT into sys_role(role_name,del_flag,create_time,update_time)
        VALUES (#{roleName},1,now(),now())
    </insert>
    <!--删除角色-->
    <update id="deleteRole" parameterType="int">
        UPDATE sys_role SET del_flag=0 where id=#{id}
    </update>
    <!--修改角色-->
    <update id="updateRole" parameterType="role">
        UPDATE sys_role SET role_name=#{roleName},update_time=now() where id=#{id} and del_flag !=0
    </update>

    <!--绑定权限-->
    <insert id="addPerm" parameterType="map">
        insert  into sys_role_perm(role_id,perm_id)
        <foreach collection="permIds" item="permId" open="values " separator=",">
            (#{roleId},#{permId})
        </foreach>
    </insert>

    <!--deletePerm 删除-->
    <delete id="deletePerm" parameterType="int">
        DELETE from sys_role_perm where role_id=#{id}
    </delete>

    <!--查找自己的权限-->
    <select id="findPerm" parameterType="int" resultMap="roleMap">
      select r.id,
      r.role_name,
      r.del_flag,
      p.id 'permId',
      p.perm_name from sys_role r
      LEFT JOIN  sys_role_perm rp on r.id=rp.role_id
      LEFT JOIN sys_permission p ON rp.perm_id = p.id
      where r.id=#{id} and r.del_flag!=0
    </select>

    <!--查找到角色-->
    <select id="findRole" parameterType="int" resultMap="roleMap">
        SELECT r.* from sys_user_role ur,sys_role r where r.id = ur.role_id and ur.user_id=#{id}
    </select>
</mapper>