<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.UserMapper">
   <resultMap id="userMap" type="User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="del_flag" property="delFlag"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>
    <!--添加用户-->
    <!--
    useGeneratedKeys="true" keyProperty="id"  表示要把生成的主键传给id
    -->
    <insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT  into sys_user(username,password,del_flag,create_time,update_time)
        VALUES (#{username},#{password},1,now(),now())
    </insert>
    <!--根据用户名查找用户-->
    <select id="findUserByUsername" parameterType="string" resultMap="userMap">
        SELECT  * FROM sys_user where username=#{username}
    </select>
    <select id="findUserById" parameterType="int" resultMap="userMap">
        SELECT * FROM  sys_user where id = #{id} and del_flag !=0
    </select>
    <!--根据用户id删除用户-->
    <update id="deleteUser" parameterType="int">
        update sys_user set del_flag = 0 where id = #{id}
    </update>
    <!--根据用户的id去修改密码-->
    <update id="resetpwd" parameterType="int">
        update sys_user set password ="123456" where id=#{id}
    </update>
    
    <select id="findAll" resultMap="userMap">
      SELECT  * from sys_user where del_flag!=0
    </select>

    <!--删除-->
    <delete id="deleteRole" parameterType="int">
        DELETE  FROM sys_user_role where user_id=#{id}
    </delete>

    <!--绑定角色-->
    <insert id="addRoles" parameterType="map">
        INSERT into sys_user_role(user_id,role_id)
        <foreach collection="ids" item="roleId" open="values " separator=",">
            (#{id},#{roleId})
        </foreach>
    </insert>
</mapper>
